<div class="container-fluid">
  <h3 class="text-center">Welcome {{ user.fname }} {{ user.lname }}</h3>

  <div *ngIf="!selectedPt">
    <table class="table table-hover">
      <thead>
        <th>Patient Id</th>
        <th>First Name</th>
        <th>Last Name</th>
      </thead>
      <tbody *ngFor="let pt of patients" (click)="displayDetails(pt)">
        <tr>
          <td>{{pt.id}}</td>
          <td>{{pt.fname}}</td>
          <td>{{pt.lname}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="selectedPt">
    <h3>{{selectedPt.fname}} {{selectedPt.lname}} Entered Information</h3>
    <button class="btn btn-primary" (click)="selectedPt = null">Return to Patient List</button>
    <button class="btn btn-primary" (click)="removePatient()">Remove Patient from List</button>

    <h5>Medications</h5>
    <ul *ngFor="let rx of medications">
      <li>{{rx.name}}</li>
      <li>{{rx.description}}</li>
    </ul>
  </div>
  <div *ngIf="selectedPt">
    <h5>Medical History</h5>
    <ul *ngFor="let hist of history">
      <li>{{hist.diagnosis}}</li>
      <li>{{hist.onset}}</li>
    </ul>
  </div>


</div>
