.table{
  color: #204051;
  background-color: #bbe1fa;
}

.container-fluid{
  color: #204051;
}

.patientInfo{
  padding-top: 4px;
  background-color: #bbe1fa;
}
.buttonPadding{
  margin-bottom: 15px;
}
.rmvPt{
  padd-top: 8px;
}
.margin{
  margin-left: 15px;
}
