.table{
  color: #204051;
  background-color: #bbe1fa;
}

.container-fluid{
  color: #204051;
}

.buttonPadding{
  margin-bottom: 15px;
}
.rmvPt{
  padding-top: 8px;
}
.margin{
  margin-left: 15px;
}
