<div class="container-fluid">
  <h3 class="text-center">Welcome {{ user.fname }} {{ user.lname }}</h3>

  <button class="btn btn-info" *ngIf="showView != 'msgs' && !selectedPt" (click)="showView = 'msgs'">View Messages</button>
  <button class="btn btn-warning margin" (click)="returnToPtList()" *ngIf="showView == 'msgs'">
    Return
  </button>

  <div class="info" *ngIf="showView == 'msgs' && !replyMsg">
    <h1>My Messages:</h1>
    <label for="showAll">Show Sent Messages</label>
    <input type="checkbox" name="showAll" id="showComplete" [(ngModel)]="showSentMsg">
    <ion-card *ngFor="let msg of messages|patientSentMessage:showSentMsg" (click)="msgView(msg)">
      <ion-card-header>
        <ion-card-title>{{msg.title}}</ion-card-title>
        <ion-card-subtitle>{{msg.creationDate|date:'short'}}</ion-card-subtitle>
        <ion-card-subtitle *ngIf="msg.sentByPt">
          From: {{msg.patient.fname}} {{msg.patient.lname}}
        </ion-card-subtitle>
        <ion-card-subtitle *ngIf="!msg.sentByPt">Sent To: {{msg.patient.fname}} {{msg.patient.lname}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content *ngIf="msgSelectedId == msg.id">
        {{msg.content}}<br>
        <ion-button *ngIf="msg.sentByPt" size=small (click)="replyMsg = msg">Reply</ion-button>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="replyMsg">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{replyMsg.title}}</ion-card-title>
        <ion-card-subtitle>{{replyMsg.creationDate|date:'short'}}</ion-card-subtitle>
        <ion-card-subtitle>
          From: {{replyMsg.patient.fname}} {{replyMsg.patient.lname}}
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{replyMsg.content}}<br>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-label position=stacked>Reply</ion-label>
        <ion-textarea [(ngModel)]="message.content"></ion-textarea>
      </ion-item>
      <button class="btn btn-success" type="submit" (click)="replyMessage(message, replyMsg.patient.id)">
        Send
      </button>
      <button class="btn btn-danger" (click)="replyMsg = null">Cancel</button>
    </ion-card>
  </div>

  <div *ngIf="showView == '' && !selectedPt">
    <table class="table table-hover">
      <thead>
        <th>Patient Id</th>
        <th>First Name</th>
        <th>Last Name</th>
      </thead>
      <tbody *ngFor="let pt of patients" (click)="displayDetails(pt)">
        <tr>
          <td>{{ pt.id }}</td>
          <td>{{ pt.fname }}</td>
          <td>{{ pt.lname }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div>
    <div *ngIf="selectedPt">
      <h3>{{ selectedPt.fname }} {{ selectedPt.lname }} </h3>
       <h6>DOB: {{selectedPt.dob}}</h6>
      <table>
        <tbody>
          <br>
          <tr>
            <td>
              <button class="btn btn-warning buttonPadding" (click)="returnToPtList()" *ngIf="showView == 'msgs' || selectedPt">
                Return to Patient List
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <button class="btn btn-info buttonPadding" (click)="showView = 'ptRx'">
                View Pt Medications
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <button class="btn btn-info buttonPadding" (click)="showView = 'ptDx'">
                View Pt History
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <button class="btn btn-info buttonPadding" (click)="ptToMsgId = selectedPt.id">
                Message PT
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>


    <div *ngIf="showView == 'ptRx'">
      <h5>Medications</h5>
      <ul *ngFor="let rx of medications">
        <li class="btn btn-info" (click)="viewRx(rx)">{{ rx.name }}</li>
      </ul>
    </div>

    <div *ngIf="showView == 'ptDx'">
      <h5>Medical History</h5>
      <ul *ngFor="let hist of history">
        <li class="btn btn-info" (click)="viewHist(hist)">{{ hist.diagnosis }}</li>
      </ul>
    </div>

    <div *ngIf="showView == 'rxDetailed'">
      <table class="table">
        <thead><th>{{viewItem.name}}</th></thead>
        <tbody>
          <tr><td>Pt's Description: </td><td>{{viewItem.description}}</td></tr>
          <tr><td>Dose: </td><td>{{viewItem.dose}}</td></tr>
          <tr><td>Frequency: </td><td>{{viewItem.frequency}}</td></tr>
          <tr><td>Provider: </td><td>{{viewItem.provider}}</td></tr>
          <tr><td>Comment: </td><td>{{viewItem.comment}}</td></tr>
          <tr><td>Active: </td><td *ngIf="viewItem.active">Yes</td><td *ngIf="!viewItem.active">No</td></tr>
          <tr *ngIf="associatedItem">
            <td>For: </td>
            <td>
            <button class="btn btn-info" (click)="viewHist(associatedItem)">{{associatedItem.diagnosis}}</button>
          </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="showView == 'dxDetailed'">
      <table class="table">
        <thead><th>{{viewItem.diagnosis}}</th></thead>
        <tbody>
          <tr><td>Onset: </td><td>{{viewItem.onset}}</td></tr>
          <tr><td>Treatment: </td><td>{{viewItem.treatment}}</td></tr>
          <tr><td>Active: </td><td>{{viewItem.active}}</td></tr>
        </tbody>
      </table>
      <div *ngIf="associatedItem">
        <h5>Medications for {{viewItem.diagnosis}}</h5>
        <ul *ngFor="let med of associatedItem">
          <li><button class="btn btn-info" (click)="viewRx(med)">{{med.name}}</button></li>
        </ul>
      </div>
    </div>

  </div>
  <div class="rmvPt" *ngIf="selectedPt">
    <br>
    <button class="btn btn-danger" (click)="removePatient()" *ngIf="selectedPt">
      Remove Patient from List
    </button>
  </div>
</div>
