<div>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quia asperiores nisi esse ducimus repellat quos repellendus ipsa perspiciatis maiores quas recusandae harum laborum, impedit suscipit ipsum laudantium neque doloremque?
  </p>
</div>
<ion-button [routerLink]="['/register']"> Sign up! </ion-button>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle>About</ion-card-subtitle>
    <ion-card-title>What is this for?</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    This site is for those of us who are not medical professionals and do not know the difference between
     fluconazole, itraconazole, or ketoconazole. When the best way you can describe it is "That funky shaped white one
     that's a little wider on one end that I take every morning".
  </ion-card-content>
</ion-card>
