<div class="container-fluid row title">
  <div class="col-6">
    <h1 class="explained">
      <!-- This site is for those of us who are not medical professionals and do not
      know the difference between fluconazole, itraconazole, or ketoconazole.
      When the best way you can describe it is "That funky shaped white one
      that's a little wider on one end that I take every morning". -->
      Getting your Meds just got a lot Easier!
      </h1>
  </div>

<div class="pic">
  <img
    src="https://www.nami.org/NAMI/media/NAMI-Media/BlogImageArchive/2020/meds-blog.jpeg"
    alt=""
  />
</div>
</div>


<button type="button" class="btn btn-lg btn-block" [routerLink]="['/register']">Sign up!
</button>

