.btn {
  color: white;
  background-color:#204051 ;
}



.signup{
  background-color: #e4e3e3;
  padding-top: 1rem;
  color: #204051;
}


@media only screen and (min-width: 1026px) {
  #mobiledate {
    display: none;
  }
}
@media only screen and (max-width: 1027px) {
  #desktopdate {
    display: none;
  }
}
