/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.home{
  background-color: #bbe1fa;
}

body{
  color: #204051;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* overflow: scroll !important;
  position: absolute  !important; */
}
.btn {
  color: white;
  background-color:#204051 ;

}


