<ion-card class="card-center">
  <ion-card-header>
    <ion-card-title class = "title">Instructions</ion-card-title>
  </ion-card-header>
</ion-card>


<ion-card >


  <ion-card-content class="content">
    <ion-card-subtitle><strong>Login as User</strong> </ion-card-subtitle>
    <br>
    Username: patient <br>
    Password: patient <br><br>
    Once logged in, the patient has the ability to immediately see what perscriptions they have. clicking the "Add Medication" Button allows the patient to use a form to add new medicines. The patient can view any medicine details when clicking the "View Detailed information". While in this view a patient can check the box if the they are actively taking the medication
  </ion-card-content>
</ion-card>

