<ion-card class="card-center">
  <ion-card-header>
    <ion-card-title class="title">Instructions</ion-card-title>
  </ion-card-header>
</ion-card>

<ion-card>
  <ion-card-content class="content">
    <h1><strong>Login as User</strong></h1>
    <br />
    Username: patient <br />
    Password: patient <br />
    <br />
    Once logged in, the patient has the ability to immediately see what
    perscriptions they have. and has multiple button options to do different
    things the patients may need. clicking the "Add Medication" Button allows
    the patient to use a form to add new medicines. The patient can view any
    specific medicine details when clicking the "View Detailed information".
    While in this view a patient can check the box if the they are actively
    taking the medication. They can also go and look and diagnosis they have
    logged or update and delete a medication.
    <br />
    <br />
    <ion-card-subtitle><strong>Account Information</strong> </ion-card-subtitle>
    Patient can click the Account Information where trhey can chnae password and
    username information and update personal information once you change
    information you can save changes or cancel
    <br />
    <br />
    <ion-card-subtitle><strong>My Providers Tab</strong> </ion-card-subtitle>

    Shows a list of Providers that allow you to click and add a provider or get
    more information on that provider. Once you click more information it will
    show you the title, name and location of that provider. you can then message
    the provider or remove the provider from there.
    <br />
    <br />
    <ion-card-subtitle><strong>My Messages Tab</strong> </ion-card-subtitle>
    You can view messages or submit messages to your providers.
    <br />
    <br />
    <ion-card-subtitle
      ><strong>My Medical History Tab</strong>
    </ion-card-subtitle>
    The patient has the ability to immediately see what medical history they
    have. clicking the "Add Medical History" Button allows the patient to use a
    form to add new medical history. The patient can view any specific history
    details when clicking the "View Detailed information". While in this view a
    patient can check the box if the they are actively experiencing these
    medical issues. They can also go and look and medicines they have logged or
    update and delete medical history.
    <br />
    <br />
    <br />

    <h1><strong>Login as Provider</strong></h1>
    <br />
    Username: Lshep <br />
    Password: patient <br />
    <br />
    Once logged in the provider can see a list of patients they oversee in a table. in this table they can click on the name(or anywhere in the row) to get all of the patients information. Button in this view allow the provider to route to specific information about the patient. it also allows a provider to remove the patient from their list. Providers can also view messages from their patients.
    <br>
    <br>
    <ion-card-subtitle><strong>Account Information</strong> </ion-card-subtitle>
    Patient can click the Account Information where trhey can chnae password and
    username information and update personal information once you change
    information you can save changes or cancel
  </ion-card-content>
</ion-card>
