thead{
  font-weight: bold;
  font-size: 30px;
}

tbody{
  background-color: white;
}


.userWelcome{
  color:#204051
}

.info{
  background-color: #e4e3e3;
}

.display {
  padding:0;
  background-color: #bbe1fa;
}
