thead{
  font-weight: bold;
  font-size: 30px;
}

tbody{
  background-color: white;
}

.userWelcome{
  padding: 30px;
  color:#204051
}

.info{
  background-color: #bbe1fa;
  padding: 20px;

}

.display {
  background-color: #bbe1fa;
}

.formdiv {
  padding: 20px;
  background-color: #bbe1fa;

}

.margin{
  margin: 0 15px;
}

.native-input{
  padding:0;
}




