<div class="container-fluid">
  <h3 class="userWelcome text-center">
    Welcome, {{ user.fname }} {{ user.lname }}
  </h3>

  <button class="btn btn-small btn-info" (click)="showView = 'addMed'">
    Add medication
  </button>
  <button class="btn btn-small btn-info" (click)="showView = 'addHist'">
    Add Medical History
  </button>
  <button class="btn btn-small btn-info" (click)="showView = 'providers'">
    My Providers
  </button>
  <button class="btn btn-small btn-info" (click)="showView = 'messages'">
    My Messages
  </button>
  <button class="btn btn-small btn-info" (click)="showView = 'medications'">
    My Medications
  </button>
  <button class="btn btn-small btn-info" (click)="showView = 'history'">
    My Medical History
  </button>

  <!-- Rx -->
  <div class="display" *ngIf="showView == 'medications'">
    <table class="table">
      <tr>
        <thead>
          Perscriptions
        </thead>
      </tr>
      <tbody>
        <tr *ngFor="let rx of medication">
          <td>
            {{ rx.name }}
          </td>
          <td>
            {{ rx.description }}
          </td>
          <td class="btn btn-info details" (click)="setRxDeets(rx)">
            View Detailed Information
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="info" *ngIf="showView == 'rxDetails'">
    <ul>
      <li>Name: {{ rxDeets.name }}</li>
      <li>Description: {{ rxDeets.description }}</li>
      <li>Dose: {{ rxDeets.dose }}</li>
      <li>Frequency: {{ rxDeets.frequency }}</li>
      <li>Provider: {{ rxDeets.provider }}</li>
      <li>Comment: {{ rxDeets.comment }}</li>
    </ul>
    <ul *ngIf="rxHisDeets">
      <button class="btn btn-small btn-light" (click)="setDxMedications(rxHisDeets)">Diagnosis: {{ rxHisDeets.diagnosis }}</button>
    </ul>
    <input
      class="btn btn-success"
      type="button"
      value="Update this medication"
      (click)="setRxToUpdate(rxDeets)"
    />
    <button class="btn btn-danger" (click)="destroyRX()">Delete RX Item</button>
    <button class="btn btn-small btn-light" (click)="reload()">Back</button>
  </div>

  <div *ngIf="showView == 'updateRx'">
    <br>
      <form>
        <div class="form-group">
          <label for="rxName">Name:</label>
          <input type="text" id="rxName" name="rxName" [(ngModel)]="rxEdit.name">
        </div>
        <div class="form-group">
          <label for="rxDescription">Description:</label>
          <input type="text" id="rxDescription" name="rxDescription" [(ngModel)]="rxEdit.description"/>
        </div>
        <div class="form-group">
          <label for="rxDose">Dose:</label>
          <input type="text" id="rxDose" name="rxDose" [(ngModel)]="rxEdit.dose"/>
        </div>
        <div class="form-group">
          <label for="rxFrequency">Frequency:</label>
          <input type="text" id="rxFrequency" name="rxFrequency" [(ngModel)]="rxEdit.frequency"/>
        </div>
        <div class="form-group">
          <label for="rxProvider">Provider:</label>
          <input type="text" id="rxProvider" name="rxProvider" [(ngModel)]="rxEdit.provider"/>
        </div>
        <div class="form-group">
          <label for="rxComment">Comment:</label>
          <input type="text" id="rxComment" name="rxComment" [(ngModel)]="rxEdit.comment"/>
        </div>
        <input class="btn btn-success" type="submit" value="Submit" (click)="updateRxComponent()"/>
      </form>
  </div>

  <div class="formdiv" *ngIf="showView == 'addMed'">
    <h3>Add a Medication</h3>
    <form>
      <div class="form-group">
        <label for="rxName">Name:</label>
        <input type="text" id="rxName" name="rxName" [(ngModel)]="rxEdit.name">
      </div>
      <div class="form-group">
        <label for="rxDescription">Description:</label>
        <input type="text" id="rxDescription" name="rxDescription" [(ngModel)]="rxEdit.description"/>
      </div>
      <div class="form-group">
        <label for="rxDose">Dose:</label>
        <input type="text" id="rxDose" name="rxDose" [(ngModel)]="rxEdit.dose"/>
      </div>
      <div class="form-group">
        <label for="rxFrequency">Frequency</label>
        <input type="text" id="rxFrequency" name="rxFrequency" [(ngModel)]="rxEdit.frequency"/>
      </div>
      <div class="form-group">
        <label for="rxProvider">Provider:</label>
        <input type="text" id="rxProvider" name="rxProvider" [(ngModel)]="rxEdit.provider"/>
      </div>
      <div class="form-group">
        <label for="rxComment">Comment:</label>
        <input type="text" id="rxComment" name="rxComment" [(ngModel)]="rxEdit.comment"/>
      </div>
      <input class="btn btn-success" type="submit" value="Submit" (click)="createMed()"/>
    </form>
  </div>

  <!-- MedHis -->
  <div class="display" *ngIf="showView == 'history'">
    <table class="table">
      <tr>
        <thead>
          Medical History
        </thead>
      </tr>
      <tbody>
        <tr *ngFor="let history of medicalHistory">
          <td>
            {{ history.diagnosis }}
          </td>
          <td>
            {{ history.onset }}
          </td>
          <td class="btn btn-info details" (click)="setDxMedications(history)">
            View Detailed Information
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="info" *ngIf="showView == 'historyDetails'">
    <ul>
      <li>Diagnosis: {{ hisDeets.diagnosis }}</li>
      <li>Onset: {{ hisDeets.onset }}</li>
      <li>Treament: {{ hisDeets.treatment }}</li>
    </ul>
    <ul *ngFor="let medication of dxMedDeets">
      <button class="btn btn-small btn-light" (click)="setRxDeets(medication)">Meds: {{ medication.name }}</button>
    </ul>
    <button class="btn btn-success" (click)="setHistToEdit(hisDeets)">Update</button>
    <button class="btn btn-danger" (click)="destroyHist()">Delete</button>
    <button class="btn btn-small btn-light" (click)="reload()">Back</button>
  </div>

  <div *ngIf="showView == 'editHistory'">
    <br>
    <h5>Edit Medical History Entry</h5>
    <form>
      <div class="form-group">
        <label for="histDx">Diagnosis:</label>
        <input type="text" id="histDx" name="diagnosisName" [(ngModel)]="histEdit.diagnosis" />
      </div>
      <div class="form-group">
        <label for="histOnset">Onset:</label>
        <input type="text" id="histOnset" name="Onset" [(ngModel)]="histEdit.onset" />
      </div>
      <div class="form-group">
        <label for="histTreat">Treatment:</label>
        <input type="text" id="histTreat" name="Onset" [(ngModel)]="histEdit.treatment" />
      </div>
      <div class="form-group">
        <label for="histActive">Current:</label>
        <input type="text" id="histActive" name="Onset" [(ngModel)]="histEdit.active" />
      </div>
      <button (click)="updateHisComponent()">Submit</button>
    </form>
  </div>

  <div class="formdiv" *ngIf="showView == 'addHist'">
    <h3>Add Medical History Item:</h3>
    <form>
      <div class="form-group">
        <label for="histDx">Diagnosis:</label>
        <input type="text" id="histDx" name="diagnosisName" [(ngModel)]="histEdit.diagnosis" />
      </div>
      <div class="form-group">
        <label for="histOnset">Onset:</label>
        <input type="text" id="histOnset" name="Onset" [(ngModel)]="histEdit.onset" />
      </div>
      <div class="form-group">
        <label for="histTreat">Treatment:</label>
        <input type="text" id="histTreat" name="Onset" [(ngModel)]="histEdit.treatment" />
      </div>
      <div class="form-group">
        <label for="histActive">Current:</label>
        <input type="text" id="histActive" name="Onset" [(ngModel)]="histEdit.active" />
      </div>
      <button class="btn btn-success" (click)="createMedicalHistory()">Submit</button>
    </form>
  </div>

  <div class="info" *ngIf="showView == 'providers'">
    <h1>My Providers:</h1>
    <ul *ngFor="let prov of providers">
        {{ prov.fname }} {{ prov.lname }}
        <button class="btn btn-danger" (click)="removeProvider(prov.id)">
          Remove Provider
        </button>
        <button class="btn btn-small btn-light" (click)="msgProvId = prov.id">
          Message Provider
        </button>
    </ul>
    <div *ngIf="msgProvId">
      <input type="text" name="content" [(ngModel)]="msgEdit.content" />
      <button (click)="createMessage(msgEdit, msgProvId)">Submit</button>
    </div>
    <div>
      <input type="number" name="providerId" [(ngModel)]="provId" />
      <input
      class="btn btn-success"
      type="button"
      (click)="addProvider(provId)"
      value="Add Provider"
      />
    </div>
  </div>

  <div class="info" *ngIf="showView == 'messages'">
    <h1>My Messages:</h1>
    <ul *ngFor="let msg of messages">
      <li>
        {{ msg.content }}
      </li>
      <li>
        <button (click)="deleteMessage(msg)">Delete Message</button>
      </li>
      <li>
        <button (click)="msgEdit = msg">Update This Message</button>
      </li>
    </ul>
    <div *ngIf="msgEdit">
      <input type="text" name="content" [(ngModel)]="msgEdit.content" />
      <button (click)="updateMessage(msgEdit)">Submit</button>
      <br />
      <button (click)="msgToEdit = null">Cancel</button>
    </div>
    <button class="btn btn-small btn-warning" (click)="showView = 'medications'">
      Close Messages
    </button>
  </div>
</div>
