<div class="container-fluid">
  <h3 class="text-center">Welcome {{ user.fname }} {{ user.lname }}</h3>
  <button (click)="showMedToAdd = true">Add medication</button>
  <button (click)="showHistoryForm = true">Add Medical History</button>

  <!-- Rx -->
  <div *ngIf="!rxDeets && !showMedToAdd">
    <table class="table">
      <tbody>
        <tr *ngFor="let rx of medication">
          <td>
            {{ rx.name }}
          </td>
          <td>
            {{ rx.description }}
          </td>
          <td (click)="rxDeets = rx">View Detailed Information</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="rxDeets">
    <ul>
      <li>Name:{{ rxDeets.name }}</li>
    </ul>
    <ul>
      <li>Description:{{ rxDeets.description }}</li>
    </ul>
    <input type="button" value="Update this medication" (click)="rxUpdated=rxDeets">
    <button class="btn btn-danger" (click)="destroyRX()">Delete RX Item</button>
  </div>
<div *ngIf="rxUpdated">
  <form>
    <div class="form-group">
      Name:
      <input type="text" name="rxName" [(ngModel)]="rxUpdated.name">
    </div>
    <div class="form-group">
      Description:
      <input type="text" name="rxDescription" [(ngModel)]="rxUpdated.description">
    </div>
    <input type="submit" value="Submit" (click)="updateRxComponent()">
  </form>
</div>

<div *ngIf="showMedToAdd">
  <form>
    <div class="form-group">
      Name:
      <input type="text" name="rxName" [(ngModel)]="medToAdd.name">
    </div>
    <div class="form-group">
      Description:
      <input type="text" name="rxDescription" [(ngModel)]="medToAdd.description">
    </div>
    <input type="submit" value="Submit" (click)="createMed()">
  </form>
</div>

<!-- MedHis -->
<div *ngIf="!hisDeets && !showHistoryForm">
  <table class="table">
    <tbody>
      <tr *ngFor="let history of medicalHistory">
        <td>
          {{ history.diagnosis }}
        </td>
        <td>
          {{ history.onset}}
        </td>
        <td (click)="hisDeets = history">View Detailed Information</td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="hisDeets">
  <ul>
    <li>Diagnosis:{{ hisDeets.diagnosis }}</li>
  </ul>
  <ul>
    <li>Onset:{{ hisDeets.onset }}</li>
  </ul>
  <input type="button" value="Update this medical history item" (click)="hisUpdated=hisDeets">
  <button class="btn btn-danger" (click)="destroyHist()">Delete History Item</button>
</div>
<div *ngIf="hisUpdated">
<form>
  <div class="form-group">
    Diagnosis
    <input type="text" name="diagnosisName" [(ngModel)]="hisUpdated.diagnosis">
  </div>
  <div class="form-group">
    Onset:
    <input type="text" name="Onset" [(ngModel)]="hisUpdated.onset">
  </div>
  <!-- <input type="submit" value="Submit" (click)="updateHisComponent()"> -->
  <button (click)="updateHisComponent()">Submit Test Button</button>
</form>
</div>
<div *ngIf="showHistoryForm">
  <h3>Add Medical History Item: </h3>
  <form>
    <div class="form-group">
      Diagnosis
      <input type="text" name="diagnosisName" [(ngModel)]="historyToAdd.diagnosis">
    </div>
    <div class="form-group">
      Onset:
      <input type="text" name="Onset" [(ngModel)]="historyToAdd.onset">
    </div>
    <!-- <input type="submit" value="Submit" (click)="updateHisComponent()"> -->
    <button (click)="createMedicalHistory()">Submit Test Button</button>
  </form>
</div>
</div>
