
<table class="table" style="width:100%">
  <div class="container-fluid formdiv">
    <td class="form-inline">
      <div class="form-group">
        <input placeholder="Username" type="text" name="username" id="username" [(ngModel)]="authUser.username">
      </div>
      <div class="form-group">
        <input placeholder="Password" type="password" name="password" id="password" [(ngModel)]="authUser.password">
      </div>
      <input type="submit" class="btn" value="Login" (click)="login()">
    </td>
  </div>
  </table>
