

  <div class="container-fluid formdiv">
    <ion-app>
      <ion-content>
        <ion-item>
          <ion-label position="stacked">Username</ion-label>
        <ion-input placeholder="Username" type="text" name="username" id="username" [(ngModel)]="authUser.username"> </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input placeholder="Password" type="password" name="password" id="password" [(ngModel)]="authUser.password"></ion-input>
      </ion-item>
      <ion-input type="submit" class="btn" value="Login" (click)="login()"></ion-input>
    </ion-content>
  </ion-app>
  </div>
